<form action="/assignments/prove03-store/cart" method="POST">
    <button class="btn btn-default" type="submit">Add to Cart</button>
    <input type="hidden" name="sku" value="<%= item.sku %> ">
</form>