<form action="/assignments/prove04-store/cart" method="POST">
    <button class="btn btn-default" type="submit">Add to Cart</button>
    <input type="hidden" name="id" value="<%= item.id %> ">
</form>