<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    label {
        font-weight: bolder;
    }

    form {
        background-color: pink;
        padding: 1em;
        margin-right: 50%;
    }

    h1 {
        margin-bottom: 0;
        background-color: beige;
        margin-right: 50%;
    }
</style>

<body>
    <h1>Hello World!</h1>
    <form action="/assigments/prove01" method="POST">
        <label for="fname">First name:</label><br>
        <input type="text" id="fname" name="fname"><br>
        <label for="lname">Last name:</label><br>
        <input type="text" id="lname" name="lname"><br><br>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email"><br><br>
        <button>Submit</button>
    </form>
</body>

</html>