<!DOCTYPE html>
<html>

<head>
    <% include ../includes/header.ejs %>
</head>

<body>
    <% include ../includes/nav.ejs %>
    <div class="jumbotron text-center">
        <div class="container">
            <h1><%= title %></h1>
            <h3>What are you in the mood for?</h3>
            <table class="p038">
                <tr>
                    <td><a href="prove04/store"><button>To shop a book</button></a></td>
                    <td><a href="prove04/store/cart"><button>To think which book I want to purchase</button></a></td>
                    <td><a href="prove04/store/orders"><button>To remenber about previous books that I've
                                purchased</button></a></td>
                    <td><a href="prove04/store/items"><button>To have unlimited power</button></a></td>
                </tr>
            </table>
        </div>
    </div>

</body>

</html>