<!DOCTYPE html>
<html>

<head>
    <% include ../includes/header.ejs %>
</head>
<style>
    .book {
        margin-left: 5em;
    }
</style>

<body>
    <% include ../includes/nav.ejs %>
    <div class="jumbotron text-center">
        <div class="container">
            <h1><%= title %></h1>
            <p>This is the placeholder for Prove 02</p>
        </div>
    </div>
    <div class="book">

        <% for(book of books) { %>
        <p><strong>Title:</strong></p>
        <h4><%= book.bookname %></h4>
        <p><strong>Summary:</strong></p>
        <p><%= book.summary %></p><br><br>
        <% } %>
    </div>
</body>

</html>