<!DOCTYPE html>
<html>

<head>
    <% include ../../../../includes/header.ejs %>
</head>

<body>
    <% include ../../../../includes/nav.ejs %>
    <div class="jumbotron text-center">
        <div class="container">
            <h1><%= title %></h1>
        </div>
    </div>
    <div class="">
        <form action="/assignments/prove04-admin/<% if(editing) {%>edit-item<%} else {%>add-item<%} %>" method="POST"
            class="item-form">
            <div class="group-form">
                <label for="title">Title</label>
                <input class="form-control" type="text" name="title" id="title"
                    value="<% if (editing) {%>item.title<%} else {%><%} %>">
            </div>
            <div class="group-form">
                <label for="imgURL">ImgURL</label>
                <input class="form-control" type="text" name="imgURL" id="imgURL"
                    value="<% if (editing) {%>item.imgURL<%} else {%><%} %>">
            </div>
            <div class="group-form">
                <label for="price">Price</label>
                <input class="form-control" type="text" name="price" id="price"
                    value="<% if (editing) {%>item.price<%} else {%><%} %>">
            </div>
            <div class="group-form">
                <label for="description">Description</label>
                <textarea class="form-control" type="text" name="description" id="description" row=5
                    value="<% if (editing) {%>item.description<%} else {%><%} %>"></textarea>
            </div>
            <div>
                <button class="btn btn-default" type="submit"><% if (editing) {%>Update Item<%} else {%> Add Item<%} %>
                </button>
            </div>
        </form>
    </div>
</body>

</html>